<!-- ---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
 -->




 ## Invited Talks & Presentations

1. *Adaptive Federated Knowledge Injection into Medical Foundation Models*  
   _Invited Talk at Stanford University_

2. *Developing Multimodal Healthcare Foundation Model: From Data-driven to Knowledge-enhanced*  
   _Poster Presentation at AAAI 2025_

3. *Multimodal Artificial Intelligence in Healthcare*  
   _Tutorial at AAAI 2025_

4. *FEDKIM: Adaptive Federated Knowledge Injection into Medical Foundation Models*  
   _Poster Presentation at EMNLP 2024_

5. *Unity in Diversity: Collaborative Pre-training Across Multimodal Medical Sources*  
   _Poster Presentation at ACL 2024_

6. *Mitigating Pooling Bias in E-commerce Search via False Negative Estimation*  
   _Oral & Poster Presentation at KDD 2024_

7. *Synthesizing Multimodal Electronic Health Records via Predictive Diffusion Models*  
   _Oral & Poster Presentation at KDD 2024_

8. *Hierarchical Pretraining on Multimodal Electronic Health Records*  
   _Poster Presentation at EMNLP 2023_

9. *Sentence-Level Resampling for Named Entity Recognition*  
   _Poster Presentation at NAACL 2022_

10. *Enabling Scientific Reproducibility through FAIR Data Management: An ontology-driven deep learning approach in the NeuroBridge Project*  
    _Oral Presentation at AMIA 2022_

11. *Boosting Search Embedding via Cross Encoder*  
    _Oral Presentation at Instacart_
