<!-- {% if site.analytics.provider and page.analytics != false %}

{% case site.analytics.provider %}
{% when "google" %}
  {% include /analytics-providers/google.html %}
{% when "google-universal" %}
  {% include /analytics-providers/google-universal.html %}
{% when "google-analytics-4" %}
  {% include /analytics-providers/google-analytics-4.html %}
{% when "custom" %}
  {% include /analytics-providers/custom.html %}
{% endcase %}

{% endif %} -->

<script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=sqmMuUuGgPN9z0_4QEEjU_guvmpEGw9fGOBoMpuyvYk"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  <!-- end custom analytics snippet -->
  gtag('config', clstr_globe');
</script>
